/node_modules
/public/hot
/yarn.lock
/public/storage
/storage/*.key
/public/js/app.js
/public/css
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/.vscode
storage/pdf/*
storage/cache/pdf/*
public/mix-manifest.json
/public/js
.php_cs.cache
